.modal {
  background-color: whitesmoke;
  text-align: center;
  height: 14rem;
  display: grid;
  grid-template-rows: 3rem 8rem 4rem;
  grid-template-columns: repeat(2, 1fr);
}
.modalhead {
  grid-row: 1/2;
  grid-column: 1/-1;
  background-color: #089aef;
  display: grid;
  grid-template-columns: 1fr 3rem 10rem 1fr;
}
.modal img {
  grid-column: 2/3;
  justify-self: flex-end;
  align-self: center;
}
.modal h3 {
  grid-column: 3/4;
  justify-self: flex-start;
  color: white;
  padding: 1rem;
  font-size: 1.2rem;
}

.modal h2 {
  grid-column: 1/-1;
  color: #089aef;
  font-size: 1.4rem;
  padding-top: 3rem;
  justify-self: center;
}

.modalfoot {
  grid-row: 3/4;
  grid-column: 1/-1;
  background-color: #089aef;
  display: grid;
  grid-template-columns: 1fr 6rem 6rem 1fr;
}
.btn1 {
  grid-column: 2/3;
  justify-self: center;
}
.btn2 {
  grid-column: 3/4;
  justify-self: center;
  margin-left: 0.5rem;
}
a {
  text-decoration: none;
  color: #089aef;
}
.btn {
  height: 2.5rem;
  width: 6rem;
  background-color: white;
  color: #089aef;
  border-radius: 0.5rem;
  border: transparent;
  text-align: center;
  font-weight: 900;
  padding-top: 0.5rem;
  align-self: center;
}
